// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$bluedark: #13292D;
$bluemedium: #3A506B;
$white: #EAE8FF;
$orange: #EF8354;
$gray: #8D99AE;
