// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$lightgreen: #84DCC6;
$bluemedium: #326273;
$white: #F7F4EA;
$orange: #FF8E72;
$brown: #28262C;
$deepblue: #2D3B40;
