<div class="modal fade" id="qrcode-<%= number %>" tabindex="-1" role="dialog" aria-labelledby="qrcodeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <% if event.shop.user == current_user %>
          <% if event.buyers != nil %>
            <% if event.buyers > 0 %>
              <% event.buyers > 1 ? clients = "clients ont" : clients = "client a" %>
              <h5 class="modal-title" id="qrcodeModalLabel"><%= event.buyers %> <%= clients %> déjà profité de votre offre!</h5>
            <% else %>
              <h5 class="modal-title" id="qrcodeModalLabel">Cette offre n'a toujours pas été utilisée!</h5>
            <% end %>
          <% else %>
            <h5 class="modal-title" id="qrcodeModalLabel">Cette offre n'a toujours pas été utilisée!</h5>
          <% end %>
        <% else %>
          <h5 class="modal-title" id="qrcodeModalLabel">QR Code à présenter au commerçant</h5>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="qr">
          <% svg = qr.as_svg(
              offset: 0,
              color: '000',
              shape_rendering: 'crispEdges',
              module_size: 6,
              standalone: true
          ) %>
          <%= svg.html_safe %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
