<div class="form-steps">
  <div class="container text-center", style="margin-top:14px">
    <h3 class="title-steps">Quelle boutique voulez-vous créer ?</h3>
  </div>

  <div class="container">
    <div class="row-forms">
      <div class="column-forms">
        <%= render 'form', shop: @shop %>
      </div>
    </div>
  </div>
</div>
