// Specific CSS for your home-page

// remove * from search input label
#search-form-home abbr[title] {
  display: none
}

.dashboard-header {
  display: flex;
  justify-content: center;
}

#search-button {
  padding-top: 60px;
} 

#refine-button {
  padding-bottom: 30px;
}

// adaptability for desktop screen

@media (min-width: 562px) {
  .center-home {
    display: flex;
    justify-content: center;
  }
  .typed-container, .filter-section{
    width: 82vh;
  }
}