#show-shop-title {
  color: $bluemedium;
  font-weight: bold;
  justify-content:center;
  margin-bottom: 15px;
}

#shop-address {
  font-weight:bold;
}

.show-page-margin{
  margin-top: 20px;
}

.shop-tags {
  display: flex;
  justify-content: center;
}

.shop-tag {
  background-color: $bluemedium;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  margin: 15px 12px;
  padding: 4px 8px;
  font-weight:bold;
}

#offers {
  padding-bottom: 130px;
}

.links-container {
    display: flex;
}

#info {
  padding-bottom: 30px;
}

#shop-description {
  text-align:left;
  margin-bottom:40px;
}
