.links-container {
    display: flex;
    justify-content: space-around;
}

h2.profile-picture-text{
  font-size:150px;
}

.show-user-container {
  h2 {
    margin: 30px 0px;
    font-size:100px;
  }

  p {
    font-size:20px;
    font-weight:medium;
  }

  .info-container {
    margin-bottom: 100px;
  }
}
