
<div class="container text-center", style="margin-top:30px">
  <h3>What event do you want to modify in the event "<%= @event.title %>", <%= @user.first_name %> ?</h3>
</div>


<div class="container", style="width:400px">
  <%= render 'form', event: @event, shop: @shop %>
</div>

