<div class="form-steps">
  <div class="container text-center", style="margin-top:30px">
    <h3>Modification d'évènement</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= render 'form', event: @event, shop: @shop %>
      </div>
    </div>
  </div>
</div>
