
<div class="container text-center", style="margin-top:30px">
  <h3>What event do you want to create today in <%= @shop.name %>, <%= @user.first_name %> ?</h3>
</div>


<div class="container", style="width:400px">
  <%= render 'form', event: @event, shop: @shop %>
</div>

