
<div class="container text-center", style="margin-top:30px">
  <h3>Quel évènement voulez-vous créer dans la boutique "<%= @shop.name %>" ?</h3>
</div>

  <%= render 'form', event: @event, shop: @shop %>

