<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="container text-center", style="margin-top:30px">
        <h3>Offre flashée </h3>
        <h6><%= @event.shop.name.capitalize %></h6>

      </div>

      <div class="form-login">
        <% if  @event.end_date <= Time.now || @event.beg_date >= Time.now %>
          <p>Cette offre n'est pas valide</p>
        <% else %>
          <div class="text-center">
            <br>
            <p><%=@event.title.capitalize %></p>
          </div>
        <% end %>
        <hr>
        <div class="container text-center", style="margin-top:30px">
          <%= link_to "Confirmer", update_buyers_path(id: @event.id), method: :patch, class: 'all-screen-button', id: 'qr-code-validation' %>
        </div>
        <div class="container text-center", style="margin-top:30px">
          <%= link_to "Annuler", shop_path(@event.shop_id), class: 'return-button' %>
        </div>
      </div>
    </div>
  </div>
</div>
