/* Button style */
.button-dashboard {
  // blue border; white background and blue logo
  font-weight:medium;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: $bluemedium;
  border: solid $bluemedium 3px;
  box-shadow: 0 0 4px #999;
  outline: none;
}

.button-dashboard-bis {
  //  blue background and white logo
  font-weight:medium;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $bluemedium;
  color: white;
  box-shadow: 0 0 4px #999;
  outline: none;
}

.button-dashboard-tres {
  //  orange background and blue logo
  font-weight:medium;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $orange;
  color: $bluemedium;
  box-shadow: 0 0 4px #999;
  outline: none;
}



.button-dropdown {
  font-weight:medium;
  border: none;
  font-size: 13px;
  cursor: pointer;
  color: white;
  outline: none;
  background-color: Transparent;
}

.button-submit-home {
  float:right;
  background-color:white;
  color:$bluemedium;
  border:none;
  padding: 5px 20px;
  border-radius: 17px;
  font-size:bold;
  margin-bottom: 15px;
}
.button-submit-home:hover{
  box-shadow: 0 0 4px #999;
  opacity:0.7;
}


.button-dashboard-bis:hover, .button-dashboard:hover{
  opacity: 0.8;
}

// Buttons padding depending on the inner logo:
.chevron-padding, .home-padding, .pen-padding, .plus-padding {
  border-radius: 50%;
}

.home-padding {
  padding: 15px 18px;
}

.pen-padding {
  padding: 14px 18px;
}

.plus-padding {
  padding: 14px 21px;
}

.chevron-padding {
  padding: 17px 21px;
}

.text-padding {
  padding: 15px;
}

// Button positions:

.add-button-dashboard {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#up-button-home {
  position: relative;
  top: 90vh;
  left: 33vw;

}

.display-on-top, #up-button-home {
  z-index: 1000;
}

@keyframes animate {
  0%{
    width:0px;
    height:0px;
  }
  100%{
    width:50px;
    height:50px;
  }
}

#search-button-home {
  border-radius: 28px;
  font-weight:bold;
  background-color:white;
  border: solid white 3px;
}


/* End of ripple effect. */

// forms button

.all-screen-button {
  width: 100%;
  background-color: $bluemedium;
  color: white;
  border-radius: 5px;
  padding: 15px;
  border:none;
  margin-bottom: 10px;
}


.all-screen-button:hover {
  opacity: 0.8;
}
<<<<<<< HEAD
=======

.return-button {
  text-align: center;
}
>>>>>>> master
