/* Button style */
.button-dashboard {
  // blue border; white background and blue logo
  font-weight:medium;
  border: none;
  border-radius: 50%;
  padding: 14px 18px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: $bluemedium;
  border: solid $bluemedium 3px;
  box-shadow: 0 0 4px #999;
  outline: none;
}

.button-dashboard-bis {
  //  blue background and white logo
  font-weight:medium;
  border: none;
  border-radius: 50%;
  padding: 14px 18px ;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $bluemedium;
  color: white;
  box-shadow: 0 0 4px #999;
  outline: none;
}


@keyframes animate {
  0%{
    width:0px;
    height:0px;
  }
  100%{
    width:50px;
    height:50px;
  }
}

/* End of ripple effect. */

