.event-card {
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 5px 5px;
  margin-top: 20px;
}

.grey-filter {
  filter: grayscale(100%);
}

.without-filter {
  opacity: 1;
}

.event-card .event-image {
  position: relative;
}

.event-card .event-image img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.event-card .event-image .offer-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $bluemedium;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
}

.event-detail {
  background-color: $bluemedium;
  width: auto;
  border-radius: 0px 0px 5px 5px;
}
.event-detail .block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
}

.block-left {
  color: white;
  text-align: left;
  padding-right: 10px;
}

.event-card .event-detail .block-top .block-left h5 {
  font-size: 18px;
  font-weight: bold;
}

.event-card .event-detail .block-top .block-left h6 {
  font-size: 12px;
}

.block-date {
  flex: 0 0 90px;
  text-align: center;
  align-items: top;
}

.event-card .event-detail .block-top .block-date p {
  font-size: 12px;
  font-style: thin;
  color: white;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.event-card .event-detail .block-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 10px 10px 15px;
}

.event-card .event-detail .block-bottom .block-icon {
  display: flex;
  margin-right: 5px;
    a {
      text-decoration: none;
      color: white;
      margin-right: 10px;
      padding: 5px;
      font-size: 20px;
    }
}

a:hover {
  opacity: 0.7;
}

.event-card .event-detail .block-bottom .block-button {
  flex: 0 0 90px;
  text-align: center;
  button {
    text-decoration: none;
    color: $bluemedium;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
  }
}

button:hover {
  opacity: 0.7;
}

#disabled {
  opacity: 1;
}
