.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: $bluemedium ;
    color: white;
  }
  a {
    color: $bluemedium;
  }
}



// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.category-choice {
  background: $bluemedium;
   
  padding: 10px;
  border-radius: 5px;
  opacity: .6;
  flex: 0 0 30%;
  text-align: center;
  height: 70px;
  width: 140px;
  color: white;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $bluemedium;
  color: white;
  opacity: 1;
  }
  label {
    margin: 0;
    pointer-events: none;
  }
}

.checkbox-categ {
  display: none;
}

// categories on shop form design

#categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 0px;
}

.text-center {
  text-align: center;
}

.blue-rounded-input-shape,
.blue-rounded-input-shape:focus{
  background-color:$white;
  color:$deepblue;
  border:none;
  border-radius:18px;
}

.blue-rounded-input-shape::placeholder {
  color:$deepblue;
}

// multisteps forms:

.form-steps-create {  
  height: 90vh;
  overflow: hidden;
  .step1, .step2, .step3{
    height: 100vh;
  }
}

.title-steps {
  margin-bottom: 0;
  font-size: 25px;
}

// form shop

.form-shop {
  margin-top: 10px;
  .container-white {
    padding: 10px 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
  #container-step1 {
    height: 400px;
  }
  #container-step2 {
    height: 600px;
  }
  #container-step3 {
    margin-top: 10px;
    height: 230px;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: $bluemedium ;
    color: white;
  }
  a {
    color: $bluemedium;
  }
}