.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: $bluemedium ;
    color: white;
  }
  a {
    color: $bluemedium;
  }
}

.row-forms {
  display: flex;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 2000px) {
  .column-forms {
    width: 540px;
  }
}
@media (max-width: 900px) {
  .column-forms {
    width: 75%;
  }
}



// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-choices-shops {
  margin: 20px;
}

.category-choices-events {
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-choice {
  background: $bluemedium;

  padding: 8px;
  border-radius: 5px;
  opacity: .6;
  height: 60px;
  color: white;
  &.active {
    background: $bluemedium;
    color: white;
    opacity: 1;
  }
  label {
    margin: 0;
    pointer-events: none;
  }
}

.event-category {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-category {
  width: 129px;
  text-align: center;
  flex: 0 0 30%;
}


.checkbox-categ, #photo-input, #photo-input-event {
  display: none;
}

// categories on shop form design

#categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 0px;
}


@media(max-width: 992px) {
  #categories-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  #categories-container {
    grid-template-columns: 1fr 1fr;
  }
}


.text-center {
  text-align: center;
}

.blue-rounded-input-shape,
.blue-rounded-input-shape:focus{
  background-color:white !important;
  color:$deepblue !important;
  border:none !important;
  border-radius:18px !important;
}

.blue-rounded-input-shape::placeholder {
  color:$deepblue !important;
}

.select2-container--default .select2-selection--multiple {
  background-color: white !important;
  border-radius: 18px !important;
  cursor: text !important;
  padding-left: 7px !important;
  border:none !important;
}

#search-filter {
  border-radius: 18px;
  border: none;
  padding-left: 8px;
}

// multisteps forms:

.form-steps {
  height: calc(100vh - 70px);
  overflow: hidden;
  .step1, .step2, .step3 {
    height: 100%;
    overflow-y: auto;
  }
  .step1-event, .step2-event, .step3-event {
    height: 100%;
    overflow-y: auto;
  }
  .form-step-1, .form-step-2, .form-step-3 {
    height: calc(100vh - 130px);
    overflow: hidden;
  }
  .form-step-1-event, .form-step-2-event, .form-step-3-event {
    height: calc(100vh - 130px);
    overflow: hidden;
  }
}

.title-steps {
  margin-bottom: 0;
  font-size: 25px;
}

// form shop

.form-shop-event {
  margin-top: 10px;
  .container-white {
    padding: 10px 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
  #container-step1-event {
    margin-top: 10px;
    height: 500px;
  }
  #container-step2-event {
    margin-top: 10px;
    height: 470px;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: $bluemedium ;
    color: white;
  }
  a {
    color: $bluemedium;
  }
}


// form for shop selection in dahsboard to create a new offer

.select2-selection__placeholder {
  display: none;
}
