.home {
  margin-top:50px;
  min-height: calc(100% - 70px - 60px);
  width: 100%;
  text-align: center;
  opacity: 0.8;
  padding: 0;
  margin: 0;
  background-image: url('https://www.pexels.com/fr-fr/photo/arbre-de-noel-bourse-boutiques-citadin-1070981/');
}

.back a {
  font-weight:bold;
  padding:15px;
  border-radius:22px 22px 0px 0px;

}

.notice {
  display: none;
}

.home a {
  font-size:15px;
}

.home-view {
  padding-top: 250px;
  padding-bottom: 250px;
}

#map {
  margin-top: 10px;
  height:90vh;
}

#search-button{
  margin-bottom:20px;
  font-size:15px;
  padding-top:30px;
}
#search-button {
  padding-top: 0px;
}

.typed-container{
  height: 33vh;
}

.filter-section {
  margin-bottom:75px;
}

.lead {
  padding-top:20vh;
  color:white;
  font-weight:bold;
  font-size:25px;
}
