.home {
  margin-top:50px;
  min-height: calc(100% - 70px - 60px);
  width: 100%;
  text-align: center;
  opacity: 0.8;
  padding: 0;
  margin: 0;
  background-color:$bluemedium;
}

.back a {
  font-weight:bold;
}

.notice {
  display: none;
}

.home a {
  font-size:15px;
}

.home-view {
  padding-top: 250px;
  padding-bottom: 250px;
}

#map-up-container{
  height:100vh;
  width:100%;
}

#map {
  margin-top: 10px;
  height:90vh;
}

.typed-container{
  text-align:left;
}

.research-container {
  margin-bottom: 5px;
}

.typed-container {
  padding:20px;
}

.lead {
  color:white;
  font-weight:bold;
  font-size:23px;
}

.lead-text {
  color:white;
}
