.mapboxgl-popup {
  width: 100% !important;
  max-width: 100% !important;
  position: fixed !important;
  top: unset !important;
  left: 0px;
  bottom: 0px;
  right: 0px;
  transform: none !important;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-close-button {
  display: none !important;
}

.mapboxgl-popup-tip {
  display: none !important;
}

#show-shop-title2 {
  color: $bluemedium;
  font-weight: bold;
  justify-content:center;
  margin-bottom: 3px;
  text-align: center;
}

#promos {
  color: white;
}

.offers-in-progress {
  position: relative;
  top: 5px;
  right: 5px;
}

.offers-in-progress p {
  margin-bottom: 0px;
}

.adress-pop-up p {
  margin-bottom: 3px;
}

.offers-in-progress {
    color: $bluemedium;
    font-weight: bold;
    font-size: 10px;
    position: absolute !important;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid $bluemedium;
    z-index: 1;
    height: 45px;
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
