// Ripple effect
.nav-pills > li {
  a {
    font-weight:medium;
    font-size:19px;
    color: $bluemedium !important;
    padding: 0.5rem 0.2rem !important;
  }

  a.active {
    color: $bluemedium !important;
    border-bottom: solid $bluemedium 4px;
    font-weight:bold;
    background-color: Transparent !important;
    padding: 0.5rem 0.2rem !important;
  }
}
