// Ripple effect
.nav-pills > li {
  a {
    font-weight:medium;
    font-size:15px;
    color: $bluemedium !important;
    border-radius:25px !important;
    border: solid 2px $bluemedium;
  }

  a.active {
    background-color: $bluemedium !important;
    color: $white !important;
    border-radius:25px;
    font-weight:bold;
  }
}
